/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "./actiontext.scss";

* {
  box-sizing: border-box;
}

body {
  background: #9de0a3;
  min-width: 320px;
}

.content{
  position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

h2 {
  text-align: center;
  margin: 50px 0;
  color: #386c3d;
  font-size: 47px;
  font-family: "Quicksand", sans-serif;
}
@media (max-width: 540px) {
  h2 {
    font-size: 28px;
    margin: 30px 0;
  }
}

form {
  padding: 0 10%;
}
form section {
  width: 100%;
  padding: 20px;
  background: #8ed294;
  margin: 20px;
  border-radius: 5px;
}

form section.full {
    width:  calc(100% - 10px) !important;
}

form section.left {
  float: left;
}
form section.right {
  float: right;
}
form section .input-container {
  padding: 10px;
}
form section .input-container label {
  display: block;
  margin-bottom: 4px;
  color: royalblue;
  font-size: 16px;
  text-shadow: 0px 2px 1px #65ad6b;
  font-family: "Quicksand", sans-serif;
}
form section .input-container input,
form section .input-container textarea {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: #d7ffdb;
  box-shadow: 0 2px 0px #77bd7d;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: black;
}
form section .input-container input:focus,
form section .input-container textarea:focus {
  outline: none;
  background: lightblue;
}
form section .input-container textarea {
  height: 122px;
  padding: 15px 10px;
  resize: none;
}
form .send-container {
  float: right;
  width: 100%;
  text-align: right;
  margin-right: 20px;
}
form .send-container input {
  background: #77bd7d;
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
form .send-container input:hover {
  background: #8ed294;
}
form:after {
  content: "";
  display: block;
  clear: both;
}
@media (max-width: 992px) {
  form {
    padding: 0 5%;
  }
}
@media (max-width: 768px) {
  form {
    margin-bottom: 50px;
  }
  form section {
    width: 100%;
    margin: 0;
  }
  form section.left {
    margin-bottom: -30px;
  }
  form .send-container {
    margin-right: 0;
    margin-top: 15px;
  }
  form .send-container input {
    width: 100%;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #888;
  margin-top: 25px;
}

.custom-select select {
  display: block;
  width: 250px;
  min-height: 35px;
  background: #cbe7ff;
  border-radius: 3px;
  border: 2px solid #2196F3;
  outline: none;
  padding: 0 20px 0 10px;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.custom-select::after {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-select .selector-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background: #11436b;
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
}

.custom-select .selector-options li {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-select .selector-options li:hover {
  background: #03A9F4;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    color: #336B6B;
    background: #fff;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #222;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

ul.horizontal {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
}
ul.horizontal li {
    float: left;
}
ul.horizontal {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
ul.horizontal li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}
ul.horizontal li a:hover {
    color: #c00;
    background-color: #fff;
}
ul.horizontal li a.active {
    background-color: rgb(201, 205, 248);
}